.main-page {
  margin: 0 auto;
  padding: 0 0;
}

.section__topbar-at-sidebar {
  // display: table;
}

.section__topbar {
  display: none;
}

@media(min-width: 768px) {
  .section__topbar {
    display: inline-flex;
  }

  .section__topbar-at-sidebar {
    display: none;
  }

  .main-page {
    margin: 0 0 0 190px;
  }
}
