@import 'variables';
@import 'mixins';

@import 'normalize';
@import 'global';
@import 'layout';

/* Components */
@import 'components/titles';
@import 'components/inputs';
@import 'components/icon-text';
@import 'components/section-part';
@import 'components/table-row';
@import 'components/buttons';
@import 'components/modal';

/* Sections */
@import 'sections/sidebar';
@import 'sections/topbar';
@import 'sections/general-statistic';
// @import 'section/registration_form';

/* Pages / Views */
// @import 'pages/registration';
