.section__sidebar {
  position: fixed;
  height: 100vh;
  width: 190px;
  background: $color-black;
  color: $color-dark;
  padding: 0 0;
  z-index: 10;

  .container {
    background: $color-black;
    padding: 10px 0;
    box-shadow: none;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
}

.logo {
  display: flex;
  color: $color-light;
  // padding-left: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;

  h2 {
    font-family: $logo-font;
    font-size: 30px;
  }
}

.logo-link i {
  color: $color-dark;
  padding-left: 40px;
  font-size: 20px;
}

.navigation {
  margin-top: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid $color-deep-dark;
}

.list li i, .list li a {
  color: $color-dark;
}

.list li a {
  padding-left: 20px;
  // font-size: $font-size*0.9;
}

.component__icon-text, .manager-name,
.section__topbar-at-sidebar .price,
.section__topbar-at-sidebar .profile,
.section__topbar-at-sidebar .notification,
.section__topbar-at-sidebar .exit {
  padding: 10px 30% 5px;
  text-align: left;
  justify-content: flex-start;

  i, a, p {
    font-size: $font-size*1.2;
    color: $color-dark;
  }

  &:hover {
    background: $color-deep-dark;
    border-left: 5px solid $brand-main-color;

    i, a, p {
      color: $color-light;
      font-size: $font-size*1.2;
      transition: $transition;
    }
  }
}

.manager {
  padding-left: 20px;
  padding-top: 5px;

  .manager-name {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    justify-content: center;
  }

  img {
    width: 45px;
    border-radius: 40px;
  }

  .manager-text {
    padding-left: 10px;
  }
}

.section__topbar-at-sidebar {
  .container {
    margin-top: 30px;
  }

  .topbar {
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .section__sidebar {
    width: 100%;
    height: auto;

    .navigation, .manager, .section__topbar-at-sidebar {
      display: none;
    }

    .show {
      display: inline;
      z-index: 10;
    }
  }

  .section__topbar-at-sidebar {
    .price, .profile, .notification, .exit {
      width: auto;
    }
  }
}

@media (min-width: 768px) {
  .section__sidebar {
    .container {
      align-items: flex-start;
      text-align: left;
    }

    .manager .manager-name {
      justify-content: flex-start;
    }
  }

  .section__sidebar .container {
    align-items: flex-start;
    text-align: left;
  }

  .component__icon-text, .manager-name,
  .section__topbar-at-sidebar .price,
  .section__topbar-at-sidebar .profile,
  .section__topbar-at-sidebar .notification,
  .section__topbar-at-sidebar .exit {
    padding: 10px 10px 5px 0;

    i, a, p {
      font-size: $font-size*0.9;
    }

    &:hover {
      i, a, p {
        font-size: $font-size*1.1;
      }
    }
  }
}
