.component__table-row {
  border-bottom: 1px solid $color-light;

  &:first-of-type {
    border-top: 1px solid $color-light;
  }

  .table-text {
    padding-top: 10px;
  }

  .table-font {
    display: none;
  }

  &:hover {
    background: $color-light;
  }

  &:hover .table-font {
    display: inline;
  }
}

.links-table {
  width: 100%;
}
