/* calendar */

.component__calendar {
  display: inline-flex;
}

.calendar .input-wrapper {
  height: 40px;
  display: flex;
  padding: 5px;
  border: 1px solid $color-light;
  border-radius: 5px;
  margin: 30px 0;

  input {
    border: 1px solid $color-light;
    height: 20px;
    padding-left: 10px;
    width: 130px;

    &:first-of-type {
      border-width: 0 1px 0 0;
    }

    &:last-of-type {
      border: 0;
    }
  }
}

.calendar .icon-wrapper {
  flex: 1;
  position: relative;
  width: 40px;
  height: 40px;

  i {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }
}

.calendar .btn-refresh  {
  margin-left: 0;
  margin-top: 15px;
  height: 40px;
  width: 40px;

  i {
    align-items: center;
    text-align: center;
    padding: 10px 0;
    color: $color-white;
  }
}

.component__calendar .btn {
  margin: 30px 30px;
}

/* number - chart */

.component__numbers .numbers-list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  padding-left: 0;
}

.component__numbers .item {
  flex: 1;
}

.numbers-list .inner {
  display: flex;
  align-items: center;
  text-align: right;
  border-bottom: 1px solid $color-light;
  // width: 300px;
}

.chart {
  max-width: 70%;
  margin: 60px auto 0 auto;

  h4 {
    text-align: left;
  }

  img {
    margin: 40px 0;
    width: 100%;
  }
}

/* Links */

.table-wrapper {
  margin: 40px auto;
  width: 70%;
  padding: 5px;
}

.section__links .button-wrapper {
  text-align: center;
  margin: 40px 0;
}

// /* Media */
// @media (max-width: 767px) {
//   .links__table {
//     text-align: center;
//     margin: 0;
//   }
//
//   .links__table-row {
//     display: flex;
//     flex-direction: column;
//   }
//
//   .links__table-element {
//     min-height: 30px;
//   }
// }
