.section__sidebar {
  position: fixed;
  height: 100vh;
  background: $color-black;
  color: $color-light;
  padding: 0 0;

  .container {
    background: $color-black;
    padding: 20px 20px;
    box-shadow: none;
  }
}

.logo {
  display: flex;
}

.logo-link i {
  color: $color-light;
  padding-left: 20px;
}

.list li i, .list li a {
  color: $color-light;
}
