.section__topbar {
  margin: 0 0;
  padding: 0 0;
  background: $color-white;

  .container {
    margin: 0 0;
    padding: 0 0;
    max-width: 1500px;
  }
}

.topbar {
  justify-content: flex-end;
  padding: 0 0;
  height: 50px;
}

.topbar div {
  justify-content: flex-end;
  border-left: solid 1px $color-light;
  border-right: solid 1px $color-light;
}

.price, .notification, .profile, .exit {
  display: flex;
  align-items: center;
  text-align: center;
}
